body{
    font-family: Outfit;
    background-color: hsl(212, 45%, 89%);
    margin: 0;
  }
  #container{
    display: flex;
    max-width: 375px;
    justify-content: center;
  }

   #item {
    background-color: white;
    width: 250px;
    margin-top: 20%;
    border-radius: 5%;
    margin-left: 30px;
  }

   img {
    border-radius: 18px;
      margin-left: 7%;
        margin-top: 15px;
          width: 208px;
            height: 220px;
   }

    h2{
        color:hsl(218, 44%, 22%);
          font-weight: 700;
            font-size: 139%;
              margin-top: 20%;
    }

    p{
      font-weight: 400;
        color: #7b879d;
            font-size: 15px;
    }

    h2, p{
        text-align: center;
        padding-left: 3%;
    }

    @media (min-width: 576px){
        #container{
            display: flex;
            max-width: 1440px;
            justify-content: center;
          }
        
           #item {
            background-color: white;
            width: 250px;
            margin-top: 10%;
            border-radius: 5%;
        
          }
        
           img {
            border-radius: 18px;
              margin-left: 7%;
                margin-top: 15px;
                  width: 208px;
                    height: 220px;
           }
        
            h2{
                color:hsl(218, 44%, 22%);
                  font-weight: 700;
                    font-size: 139%;
                      margin-top: 20%;
            }
        
            p{
              font-weight: 400;
                color: #7b879d;
                    font-size: 15px;
            }
        
            h2, p{
                text-align: center;
                padding-left: 3%;
            }
        

    }
